/*ポップアップする動き*/
.popup {
    animation: popup 0.8s cubic-bezier(0.5, 0.05, 0.1, 0.3) forwards;
    opacity: 0;
}
@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/*　左の動き　*/
.freeQuote__img.LeftMove {
    animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime {
    from {
        opacity: 0;
        transform: translateX(120%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*　右の動き　*/
.freeQuote__img.RightMove {
    animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(120%);
    }
}

/* fadeUp */
.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
    opacity: 0;
}

/* slide-in */
.slide-inLeft {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.slide-inRight {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-out;
}

.slide-inLeft.visible, .slide-inRight.visible {
    opacity: 1;
    transform: translateX(0);
}

/* rotate */
.about__chara--surround1 img {
    animation: rotation 4s linear infinite;
}

.about__chara--surround2 img {
    animation: rotation 8s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*文字が無限に流れるアニメーション*/
.infinite__scroll {
    overflow: hidden;
    display: flex;
}

.infinite__scroll p {
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 120px;
}

.infinite__scroll p:nth-child(odd) {
    animation: MoveLeft 30s -15s infinite linear;
}

.infinite__scroll p:nth-child(even) {
    animation: MoveLeft2 30s infinite linear;
}

@keyframes MoveLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes MoveLeft2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}