/* -------------------------
common
----------------------------*/
.estimate__page {
    font-family: var(--fontZenMaruGothic);
}
::placeholder {
    color: #B3B3B3;
    letter-spacing: 0.1rem;
    font-family: var(--fontZenMaruGothic);
}
:focus-visible {
    outline: none;
}
input {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    border-radius: 0;
    font-size: 16px;
}
select {
    padding-left: 10px;
    -webkit-appearance: none;
    appearance: none; 
    color: var(--textBlack);
    background-color: #fff;
    font-size: 16px;
    border-radius: 0;
}
textarea {
    padding: 10px;
    border-radius: 0;
    font-size: 16px;
}
input[type="checkbox"] {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid var(--textBlack);
    background-color: #fff;
    border-radius: 4px;
    vertical-align: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 4px;
}
input[type="checkbox"]:checked {
    background-color: var(--palePink);
}
input[type="checkbox"]:checked:before {
    position: absolute;
    top: 0px;
    left: 4px;
    transform: rotate(36deg);
    width: 5px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    content: '';
    border-radius: 1px;
}
input[type="radio"] {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid var(--textBlack);
    border-radius: 50%;
    background-color: #fff;
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 4px;
}
input[type="radio"]:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--palePink);
    content: '';
}
.select__wrap {
    position: relative;
    width: 100%;
}
.select__wrap::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 12px;
    height: 12px;
    border: 2px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    position: absolute;
    top: 8px;
    right: 20px;
    pointer-events: none;
}
div.select__wrap::after {
    top: 14px;
    right: 20px;
}
.margin__top--10 {
    margin-top: 10px;
}
.tb2-br {
    display: none;
}
/* -------------------------
estimate about
----------------------------*/
.estimate__about {
    padding-top: 160px;
}
.estimate__text {
    margin: auto;
    padding-top: 60px;
}
.estimate__text p {
    font-size: var(--fontSize18);
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 2.8;
    text-align: center;
}
.estimate__btns {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.estimate__item {
    border: 2px solid var(--textBlack);
    border-radius: 20px;
    color: #fff;
    padding: 27px 0;
    width: 365px;
    box-sizing: border-box;
    box-shadow: 0px 7px 0px 0px var(--textBlack);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estimate__item:hover {
    box-shadow: none;
    transform: translateY(3px);
}
.estimate__item--line {
    background-color: var(--lineGreen);
}
.estimate__item--form {
    background-color: var(--palePink);
}
.estimate__item--text {
    text-align: center;
}
.estimate__item--logo {
    height: 68px;
}
.estimate__item--line .estimate__item--logo img {
    width: 54px;
}
.estimate__item--form .estimate__item--logo img {
    width: 84px;
    margin-top: -10px;
}
.estimate__item--text {
    font-size: var(--fontSize25);
    font-weight: 700;
    letter-spacing: 0.08rem;
    line-height: 1.4;
}
.estimate__item--btn {
    background-color: #fff;
    border-radius: 80px;
    color: var(--textBlack);
    width: 305px;
    padding: 20px 0;
    margin-top: 22px;
}
.estimate__item--btn p {
    font-size: var(--fontSize16);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.12rem;
    line-height: 1.4;
}
.estimate__item--btn p .green {
    color: var(--lineGreen);
}
/* -------------------------
estimate form
----------------------------*/
.estimate__form {
    padding-top: 150px;
}
.form__comment {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    font-size: var(--fontSize18);
    letter-spacing: 0.1rem;
    line-height: 2;
}
.form__comment .asterisk {
    color: #F03C3C;
}
.form__field {
    margin: auto;
    margin-top: 80px;
    max-width: 1200px;
    width: 100%;
    border-top: 2px solid #fff;
}
.form__item {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 30px 0;
    border-bottom: 2px solid #fff;
}
.form__label {
    font-size: var(--fontSize16);
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.8;
}
.form__label--marginTop {
    margin-top: 8px;
}
.form__area {
    display: flex;
}
.form__area--row {
    flex-direction: row;
    gap: 30px;
}
.form__area--column {
    flex-direction: column;
    gap: 30px;
}
.form__area--checkbox {
    flex-direction: column;
    gap: 10px;
}
.radio__item .form__area--row {
    gap: 4px;
}
.form__area {
    font-weight: bold;
}
.form__content {
    width: 50%;
}
.form__content:has(.after__text) {
    text-wrap: nowrap;
}
.form__checkbox {
    line-height: 2;
}
.form__content .red, .form__checkbox .red, .form__radio .red {
    color: #F03C3C;
}
.form__checkbox .red {
    padding-left: 4px;
}
.form__label .asterisk {
    color: #F03C3C;
    font-size: 10px;
    position: absolute;
}
.form__content .before__text {
    margin-right: 11px;
    letter-spacing: 0.1rem;
    text-wrap: nowrap;
}
.form__content .after__text {
    margin-left: 11px;
    letter-spacing: 0.1rem;
}
.form__input {
    height: 40px;
    box-sizing: border-box;
    border: 2px solid var(--textBlack);
    width: 100%;
    padding-left: 10px;
}
.form__date {
    height: 40px;
    border: 2px solid var(--textBlack);
    max-width: 90px;
    width: 100%;
    margin-left: 11px;
}
.form__file {
    background-color: #fff;
    color: #B3B3B3;
    height: 40px;
    width: 100%;
    border: 2px solid var(--textBlack);
}
#fileSelect {
    cursor: pointer;
}
.textarea__content textarea {
    width: 100%;
    border: 2px solid var(--textBlack);
    box-sizing: border-box;
}
.form__flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__note {
    padding-top: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.form__note p {
    font-size: var(--fontSize16);
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.8;
}
.confirm__btn--container {
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
}
.confirm__btn--container input {
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    background-color: #fff;
    border: 3px solid var(--textBlack);
    border-radius: 60px;
    font-size: var(--fontSize18);
    font-weight: bold;
    letter-spacing: 0.17rem;
    padding: 14px 70px 17px;
    box-shadow: 0 3px 0 var(--textBlack);
    cursor: pointer;
    color: var(--textBlack);
    transition: all 0.3s;
}
.confirm__btn--container input:hover {
    box-shadow: none;
    transform: translateY(3px);
}

@media screen and (max-width:1240px) {
    .tb-br {
        display: block;
    }
    .pc-br {
        display: none;
    }
    .estimate__btns {
        padding: 70px 40px 0 40px;
    }
    .form__field {
        margin: 80px 40px 0 40px;
        width: unset;
    }
    .form__item {
        grid-template-columns: 34% auto;
        gap: 20px;
    }
    .form__note {
        width: 89.76vw;
    }
    .form__note p {
        font-size: 16px;
        letter-spacing: 0.1rem;
    }
    .form__note p span:not(.asterisk) {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:1024px) {
    .tb2-br {
        display: block;
    }
    .form__content {
        width: 100%;
    }
    .mail__item .form__content {
        width: 82%;
    }
    .estimate__item--btn {
        width: max(29.51vw, 270px);
    }
}
@media screen and (max-width:767px) {
    .margin__top--10 {
        margin-top: 0;
    }
    /* -------------------------
    estimate about
    ----------------------------*/
    .estimate__about {
        padding-top: 120px;
    }
    .estimate__text {
        margin: auto;
        padding-top: 30px;
    }
    .estimate__text p {
        font-size: 16px;
        line-height: 2.2;
        letter-spacing: 0.04rem;
    }
    .estimate__btns {
        padding-top: 40px;
        flex-direction: column;
        gap: 27px;
    }
    .estimate__item {
        width: 350px;
    }
    .estimate__item--btn {
        width: 290px;
        padding: 18px 0;
    }
    .estimate__item--btn p {
        font-size: 16px;
    }
    /* -------------------------
    estimate form
    ----------------------------*/
    .estimate__form {
        padding-top: 55px;
    }
    .form__field {
        margin: 36px 20px 0 20px;
    }
    .form__item {
        grid-auto-flow: row;
        grid-template-columns: auto;
        gap: 15px;
        padding: 20px 0;
    }
    .form__label {
        font-size: 16px;
    }
    .form__label--marginTop {
        margin-top: 0;
    }
    .form__area {
        font-size: 16px;
    }
    .form__content {
        width: 100%;
    }
    .form__area--column {
        gap: 20px;
    }
    .form__area--row {
        flex-direction: column;
        gap: 10px;
    }
    .form__input, #fileSelect, .form__date, .textarea__content textarea {
        border: 1px solid var(--textBlack);
    }
    .form__file {
        border: 1px solid var(--textBlack);
    }
    .mail__item .form__content {
        width: 100%;
    }
    .mail__item .form__input {
        width: 76%;
    }
    .form__content .after__text {
        margin-left: 8px;
    }
    .adress__item .form__flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .adress__item .form__flex:has(.post__code) {
        flex-direction: row;
        align-items: center;
        gap: 0px;
    }
    .radio__item .form__area--row {
        flex-direction: row;
    }
    .form__note p {
        letter-spacing: 0.04rem;
    }
    .confirm__btn--container {
        margin-bottom: 30px;
    }
    .confirm__btn--container input {
        height: 50px;
        padding: 10px 35px 12px;
    }
}
@media screen and (max-width:385px) {
    .form__field {
        width: 92vw;
    }
    .form__note p {
        letter-spacing: 0rem;
    }
}