.service__page {
    font-family: var(--fontZenMaruGothic);
}
/* -------------------------
point
----------------------------*/
.service__point {
    padding-top: 140px;
}
.point__column {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 50px;
}
.point__column--item:nth-child(odd) {
    padding-top: 60px;
}
.point__column--img {
    display: flex;
}
.point__column--img svg {
    margin: auto;
}
.point__column--title {
    background-color: #64dc96;
    border: 3px solid var(--textBlack);
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize25);
    font-weight: 700;
    justify-content: center;
    left: 50%;
    margin-bottom: -30px;
    padding: 15px 32px;
    width: fit-content;
    position: relative;
    transform: translateX(-50%);
    z-index: 10;
    letter-spacing: 0.06rem;
}
.point__column--title:before,
.point__column--title:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textBlack);
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.point__column--title:after {
    border-top: 10px solid #64dc96;
    bottom: -7px;
}
.point__column--text {
    margin-top: 45px;
    width: 364px;
}
.point__column--text p {
    font-size: var(--fontSize16);
    font-weight: 700;
    letter-spacing: 0.034rem;
    line-height: 1.8;
    text-align: justify;
}
/* -------------------------
about
----------------------------*/
.service__about {
    padding-top: 120px;
    padding-bottom: 145px;
}
.service__about--title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}
.service__about--title .headline__line {
    border-top: 2px solid var(--textBlack);
    border-bottom: 2px solid var(--textBlack);
    height: 10px;
    width: 40%;
    margin-top: 8px;
}
.service__about--title h3 {
    font-size: var(--fontSize25);
    font-weight: 900;
    letter-spacing: 0.17rem;
    color: #fff;
    text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
}
.about__column {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 90px;
}
.about__column--item {
    background-color: #fff;
}
.about__column--text {
    font-size: var(--fontSize25);
    letter-spacing: 0.01rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.about__column--text .small {
    font-size: var(--fontSize16);
    letter-spacing: 0.03rem;
}
.service__about--description {
    margin: auto;
    padding-top: 55px;
}
.service__about--description p {
    font-size: var(--fontSize18);
    letter-spacing: 0.04rem;
    font-weight: bold;
    text-align: center;
}
.service__about .more__btn--container {
    margin-top: 75px;
}
/* -------------------------
flow
----------------------------*/
.service__flow {
    padding-top: 140px;
    background-color: var(--main-color);
    border-top: 3px solid var(--textBlack);
    border-bottom: 3px solid var(--textBlack);
}
.flow__item--title {
    background-color: #fff;
    border: 3px solid var(--textBlack);
    border-radius: 50px;
    color: var(--textBlack);
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize25);
    font-weight: 700;
    justify-content: center;
    left: 50%;
    margin-bottom: -30px;
    padding: 15px 0;
    width: 392px;
    position: relative;
    transform: translateX(-50%);
    z-index: 10;
    letter-spacing: 0.06rem;
}
.flow__item--title:before,
.flow__item--title:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textBlack);
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.flow__item--title:after {
    border-top: 10px solid #fff;
    bottom: -7px;
}
.flow__item--slide img {
    width: 374px;
}
.service__flow .js-slide {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin: 80px auto;
    max-width: 1200px;
}
.service__flow .js-slide {
    display: block;
    margin: 40px auto;
    /* max-width: 1200px; */
}
.flow__item--slide img {
    transform: scale(.8);
    transition: transform .3s;
}

.flow__item--slide.slick-center img {
    transform: scale(1);
}
.flow__item--slide img {
    border: 3px solid var(--textBlack);
    height: auto;
    width: 380px;
}
/* -------------------------
introduction
----------------------------*/
.service__introduction {
    padding-top: 140px;
}
.size__tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 33px;
}
.size__tags .tag {
    width: 170px;
    padding: 12px 0 14px 0;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
}
.size__tags .tag.active {
    border: 3px solid var(--textBlack);
    background-color: var(--main-color);
}
.introduction__size {
    max-width: 750px;
    width: 49.6vw;
    margin: auto;
}
.introduction__size img {
    border: 3px solid var(--textBlack);
}
.introduction__point {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 113px;
}
.introduction__point .point__img {
    max-width: 670px;
    max-height: 460px;
    width: 44.3vw;
    height: 30.42vw;
    border: 3px solid var(--textBlack);
    position: relative;
    z-index: 2;
}
.introduction__point .point__content {
    max-width: 622px;
    max-height: 460px;
    width: 41.13vw;
    height: 30.42vw;
    border: 3px solid var(--textBlack);
    background-color: #fff;
    margin-top: 40px;
    margin-left: -90px;
}