.service__page {
    font-family: var(--fontZenMaruGothic);
}
/* -------------------------
point
----------------------------*/
.service__point {
    padding-top: 140px;
}
.point__column {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 50px;
}
.point__column--item:nth-child(odd) {
    padding-top: 60px;
}
.point__column--img {
    display: flex;
}
.point__column--img svg {
    margin: auto;
}
.point__column--title {
    background-color: #64dc96;
    border: 3px solid var(--textBlack);
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize25);
    font-weight: 700;
    justify-content: center;
    left: 50%;
    margin-bottom: -30px;
    padding: 15px 32px;
    width: fit-content;
    position: relative;
    transform: translateX(-50%);
    z-index: 10;
    letter-spacing: 0.06rem;
}
.point__column--title:before,
.point__column--title:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textBlack);
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.point__column--title:after {
    border-top: 10px solid #64dc96;
    bottom: -7px;
}
.point__column--text {
    margin-top: 45px;
    width: 364px;
}
.point__column--text p {
    font-size: var(--fontSize16);
    font-weight: 700;
    letter-spacing: 0.034rem;
    line-height: 1.8;
    text-align: justify;
}