.about__page {
    font-family: var(--fontZenMaruGothic);
}
/* -------------------------
lower main
----------------------------*/
.about__page .lower__chara--img1 {
    max-width: 373px;
}
.about__page .lower__textInner {
    margin-top: 60px;
}
.about__page .lower__deco--chara1 {
    width: 150px;
    top: 130px;
    left: 24.5vw;
}
.about__page .lower__deco--bg1 {
    width: 206px;
    top: 130px;
    left: 24vw;
}
.about__page .lower__deco--bg2 {
    width: 258px;
    top: 130px;
    left: 24vw;
}
.about__page .lower__deco--chara2 {
    width: 145px;
    top: -78px;
    right: 20.5vw;
}
.about__page .lower__deco--bg3 {
    width: 230px;
    top: -78px;
    right: 20vw;
}
.about__page .lower__deco--bg4 {
    width: 287px;
    top: -78px;
    right: 20vw;
}
/* -------------------------
point
----------------------------*/
.about__point {
    padding-top: 140px;
}
.point__grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 44px;
}
.point__grid--item {
    border: 3px solid var(--textBlack);
    padding: 30px;
}
.point__grid--item:nth-child(1), .point__grid--item:nth-child(4) {
    background-color: var(--main-color);
}
.point__grid--item:nth-child(2), .point__grid--item:nth-child(5) {
    background-color: var(--paleYellow);
}
.point__grid--item:nth-child(3), .point__grid--item:nth-child(6) {
    background-color: var(--paleGreen);
}
.point__grid--item img {
    border: 3px solid var(--textBlack);
}
.point__grid--title {
    margin-top: 20px;
    font-size: var(--fontSize25);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06rem;
    color: #fff;
    text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
}
.point__grid--text {
    margin-top: 16px;
}
.point__grid--text p {
    font-size: var(--fontSize16);
    letter-spacing: 0rem;
    line-height: 1.8;
    text-align: justify;
}
/* -------------------------
message
----------------------------*/
.about__message {
    padding-top: 140px;
}
.message__column {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 19.17vw;
    position: relative;
}
.message__img {
    position: absolute;
    left: -8.79vw;
}
.message__img img {
    max-width: 496px;
    width: 32.8vw;
    border: 3px solid var(--textBlack);
}
.message__img svg {
    max-width: 253.96px;
    max-height: 99.76px;
    width: 16.73vw;
    height: 6.54vw;
    position: absolute;
    top: -40px;
    left: -26px;
}
.message__img p {
    font-size: var(--fontSize22);
    letter-spacing: 0.15rem;
    color: #fff;
    position: absolute;
    top: -4px;
    left: -7px;
    z-index: 10;
    transform: rotate(349deg);
}
.message__content {
    background-color: var(--main-color);
    margin-top: 60px;
    
    padding: 80px 0 80px 29.23vw;
    border-top: 3px solid var(--textBlack);
    border-left: 3px solid var(--textBlack);
    border-bottom: 3px solid var(--textBlack);
}
.message__deco {
    position: absolute;
    max-width: 220px;
    width: 14.55vw;
    right: 11.37vw;
    top: -4.8vw;
}
.page__title--inner.left {
    text-align: left;
}
.message__content--text {
    margin-top: 60px;
    font-size: var(--fontSize16);
    letter-spacing: 0.04rem;
    line-height: 2.2;
    max-width: 600px;
    text-align: justify;
}
.message__content--name {
    margin-top: 75px;
    text-align: right;
    max-width: 600px;
    font-size: var(--fontSize18);
    letter-spacing: 0.01rem;
    font-weight: bold;
}
.message__content--name span:nth-child(1) {
    margin-right: 35px;
}
.message__content--name span:nth-child(2) {
    margin-right: 20px;
}
.message__content--name .large {
    font-size: var(--fontSize25);
}
/* -------------------------
history
----------------------------*/
.about__history {
    padding-top: 145px;
    position: relative;
    margin: auto;
}
.history__line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 3px;
    height: 106%;
    background-color: var(--textBlack);
    margin-top: 20px;
}
.history__column {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    margin-top: 80px;
}
.history__item {
    position: relative;
    /* width: 45%; */
}
.history__item:nth-child(3) {
    margin-top: 30px;
}
.history__item:nth-child(4), .history__item:nth-child(5) {
    margin-top: 110px;
}
.history__item.left {
    margin-right: 55%;
    text-align: right;
}
.history__item.right {
    margin-left: 55%;
}
.history__item.left::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 3px solid var(--textBlack);
    border-radius: 50%;
    position: absolute;
    right: -13.9%;
    top: 10px;
}
.history__item.right::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 3px solid var(--textBlack);
    border-radius: 50%;
    position: absolute;
    left: -13.8%;
    top: 10px;
}
.history__item--year {
    font-size: var(--fontSize54);
    letter-spacing: 0.24rem;
    font-weight: 900;
    color: #FDDEE8;
    text-shadow: rgb(35, 24, 21) 3px 0px 0px, rgb(35, 24, 21) 2.83487px 0.981584px 0px, rgb(35, 24, 21) 2.35766px 1.85511px 0px, rgb(35, 24, 21) 1.62091px 2.52441px 0px, rgb(35, 24, 21) 0.705713px 2.91581px 0px, rgb(35, 24, 21) -0.287171px 2.98622px 0px, rgb(35, 24, 21) -1.24844px 2.72789px 0px, rgb(35, 24, 21) -2.07227px 2.16926px 0px, rgb(35, 24, 21) -2.66798px 1.37182px 0px, rgb(35, 24, 21) -2.96998px 0.42336px 0px, rgb(35, 24, 21) -2.94502px -0.571704px 0px, rgb(35, 24, 21) -2.59586px -1.50383px 0px, rgb(35, 24, 21) -1.96093px -2.27041px 0px, rgb(35, 24, 21) -1.11013px -2.78704px 0px, rgb(35, 24, 21) -0.137119px -2.99686px 0px, rgb(35, 24, 21) 0.850987px -2.87677px 0px, rgb(35, 24, 21) 1.74541px -2.43999px 0px, rgb(35, 24, 21) 2.44769px -1.73459px 0px, rgb(35, 24, 21) 2.88051px -0.838247px 0px;
}
.history__item--year .small {
    font-size: var(--fontSize25);
    padding-left: 6px;
}
.histroy__item--text {
    font-size: var(--fontSize18);
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.16rem;
    margin-top: 30px;
    max-width: 440px;
    width: 100%;
}
.history__item.left .histroy__item--text {
    max-width: none;
}
.history__chara1 {
    max-width: 180px;
    width: 100%;
    position: absolute;
    left: 260px;
    top: -130px;
}
.history__chara2 {
    max-width: 240px;
    width: 100%;
    position: absolute;
    top: -110px;
    right: 140px;
}
.history__chara3 {
    max-width: 162px;
    width: 100%;
    position: absolute;
    left: 260px;
    top: -20px;
}
.history__chara4 {
    max-width: 190px;
    width: 100%;
    position: absolute;
    top: -80px;
    right: 200px;
}
.history__bgText {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -1;
    height: 100%;
}
.history__bgText p {
    font-family: var(--fontMacho);
    font-weight: 700;
    letter-spacing: 0.4rem;
    font-size: 210px;
    color: #fff;
    opacity: 0.5;
    margin-left:3px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
/* .history__bgText p::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 3px solid var(--textBlack);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(50% - 3px);
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    opacity: 1;
} */
.history__bgText p:nth-child(1) {
    top: 0;
}
.history__bgText p:nth-child(2) {
    top: 268px;
}
.history__bgText p:nth-child(3) {
    top: 545px;
}
.history__bgText p:nth-child(4) {
    top: 794px;
}
/* -------------------------
company
----------------------------*/
.about__company {
    padding-top: 180px;
    padding-bottom: 120px;
}
.company__wrap {
    max-width: 1010px;
    width: 100%;
    padding: 70px 75px 80px 75px;
    margin: auto;
    background-color: #fff;
    box-shadow : 
        0 0 0 3px var(--textBlack),
        0 0 0 16px var(--paleGreen),
        0 0 0 19px var(--textBlack);
}
.company__table {
    margin: auto;
    padding-top: 18px;
    width: 83%;
}
.company__table tr {
    border-bottom: 2px solid var(--textBlack);
}
.company__table th, .company__table td {
    padding-bottom: 34px;
    padding-top: 32px;
    font-size: var(--fontSize16);
    letter-spacing: 0.04rem;
}
.company__table th {
    text-align: left;
    width: 270px;
}

@media screen and (min-width:1600px) {
/* -------------------------
message
----------------------------*/
    .message__content {
        border: 3px solid var(--textBlack);
        margin-right: 5vw;
    }
}

@media screen and (max-width:1240px) {
    /* -------------------------
    point
    ----------------------------*/
    .point__grid {
        gap: 2.64vw;
        max-width: none;
        width: calc(100% - 5.28vw);
        margin: auto 2.64vw;
    }
    .point__grid--item {
        padding: 1.98vw;
    }
    .point__grid--title {
        line-height: 1.4;
    }
    .point__grid--text {
        margin-top: 16px;
    }
    .point__grid--text p {
        letter-spacing: 0rem;
        line-height: 1.8;
    }
    /* -------------------------
    message
    ----------------------------*/
    .message__column {
        margin-left: 11.4vw;
    }
    .message__content {
        padding: 80px 10vw 80px 29.23vw;
    }
    /* -------------------------
    history
    ----------------------------*/
    .history__line {
        width: 3px;
        height: 106%;
        background-color: var(--textBlack);
        margin-top: 20px;
    }
    .history__column {
        max-width: none;
        width: calc(100% - 5.28vw);
        margin: 80px 2.64vw auto;
    }
    .history__item.right::before {
        left: -13.9%;
    }
    .history__item:nth-child(3) {
        margin-top: 30px;
    }
    .history__item:nth-child(4), .history__item:nth-child(5) {
        margin-top: 110px;
    }
    .history__chara1 {
        max-width: 144px;
        width: 100%;
        left: 24vw;
        top: -100px;
    }
    .history__chara2 {
        max-width: 192px;
        width: 100%;
        top: -70px;
        right: 16.25vw;
    }
    .history__chara3 {
        max-width: 129.6px;
        width: 100%;
        left: 26vw;
        top: 10px;
    }
    .history__chara4 {
        max-width: 152px;
        width: 100%;
        top: -50px;
        right: 19.22vw;
    }
    .history__bgText p {
        font-size: 180px;
    }
    /* -------------------------
    company
    ----------------------------*/
    .about__company {
        margin: auto 3.9vw;
        padding-bottom: 7.93vw;
    }
    .company__wrap {
        max-width: none;
        padding: 4.63vw 0 5.29vw 0;
    }
    .company__table th, .company__table td {
        line-height: 1.6;
    }
}

@media screen and (max-width:1140px) {
    .history__item.right::before {
        left: -14.4%;
    }
    .history__item.left::before {
        right: -14.4%;
    }
}

@media screen and (max-width:1060px) {
    .history__item.right::before {
        left: -14.7%;
    }
    .history__item.left::before {
        right: -14.7%;
    }
}

@media screen and (max-width:860px) {
    .history__item.right::before {
        left: -15.2%;
    }
    .history__item.left::before {
        right: -15.2%;
    }
}

@media screen and (max-width:767px) {
    /* -------------------------
    lower main
    ----------------------------*/
    .about__page .lower__chara--img1 {
        max-width: 178px;
    }
    .about__page .lower__textInner {
        margin-top: -10px;
    }
    .about__page .lower__deco--chara1 {
        width: 82px;
        top: 150px;
        left: 24.5vw;
    }
    .about__page .lower__deco--bg1 {
        width: 112px;
        top: 150px;
        left: 24vw;
    }
    .about__page .lower__deco--bg2 {
        width: 140px;
        top: 150px;
        left: 24vw;
    }
    .about__page .lower__deco--chara2 {
        width: 93px;
        top: 72px;
        right: 32.5vw;
    }
    .about__page .lower__deco--bg3 {
        width: 152px;
        top: 72px;
        right: 32vw;
    }
    .about__page .lower__deco--bg4 {
        width: 190px;
        top: 72px;
        right: 32vw;
    }
    /* -------------------------
    point
    ----------------------------*/
    .about__point {
        padding-top: 140px;
    }
    .point__grid {
        grid-template-columns:1fr;
        gap: 20px;
        width: calc(100% - 40px);
        margin: auto 20px;
        padding-top: 40px;
        padding-bottom: 4px;
    }
    .point__grid--item {
        border: 2px solid var(--textBlack);
        padding: 20px;
        max-width: 360px;
        margin: auto;
    }
    .point__grid--item img {
        border: 2px solid var(--textBlack);
    }
    .point__grid--title {
        margin-top: 20px;
        font-size: var(--fontSize25);
    }
    .point__grid--text {
        margin-top: 16px;
    }
    .point__grid--text p {
        font-size: 16px;
        letter-spacing: 0rem;
        line-height: 1.8;
        text-align: justify;
    }
    /* -------------------------
    message
    ----------------------------*/
    .about__message {
        padding-top: 370px;
    }
    .message__column {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    .message__img {
        position: absolute;
        top: -270px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .message__img img {
        max-width: none;
        min-width: 302px;
        width: 100%;
        border: 2px solid var(--textBlack);
    }
    .message__img svg {
        max-width: none;
        max-height: none;
        width: 53vw;
        max-width: 220px;
        height: auto;
        top: -42px;
        left: -26px;
    }
    .message__img p {
        font-size: var(--fontSize22);
        letter-spacing: 0.15rem;
        color: #fff;
        position: absolute;
        top: -4px;
        left: -7px;
        z-index: 10;
        transform: rotate(349deg);
    }
    .message__content {
        background-color: var(--main-color);
        margin-top: 0;
        padding: 100px 20px 60px 20px;
        border-top: 2px solid var(--textBlack);
        border-left: none;
        border-bottom: 2px solid var(--textBlack);
    }
    .message__deco {
        position: absolute;
        max-width: 220px;
        width: 97px;
        right: 3.2vw;
        top: -4vw;
        z-index: 10;
    }
    .page__title--inner.left {
        text-align: center;
    }
    .message__content--text {
        margin: auto;
        margin-top: 30px;
        font-size: 16px;
        line-height: 1.8;
    }
    .message__content--name {
        margin-top: 30px;
    }
    .message__content--name span:nth-child(1) {
        margin-right: 12px;
    }
    .message__content--name span:nth-child(2) {
        margin-right: 10px;
    }
    /* -------------------------
    history
    ----------------------------*/
    .about__history {
        padding-top: 60px;
    }
    .history__line {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        width: 2px;
        height: 102%;
        margin-top: 14px;
    }
    .history__column {
        max-width: none;
        width: calc(100% - 50px);
        margin: auto 20px auto 30px;
        margin-top: 54px;
    }
    .history__item {
        position: relative;
        margin-left: 60px;
    }
    .history__item:nth-child(3) {
        margin-top: 44px;
    }
    .history__item:nth-child(4), .history__item:nth-child(5) {
        margin-top: 44px;
    }
    .history__item.left {
        margin-left: 30px;
        margin-right: 0;
        text-align: left;
    }
    .history__item.right {
        margin-left: 30px;
    }
    .history__item.left::before {
        width: 18px;
        height: 18px;
        border: 2px solid var(--textBlack);
        right: 0;
        left: -40px;
        top: 8px;
    }
    .history__item.right::before {
        width: 18px;
        height: 18px;
        border: 2px solid var(--textBlack);
        position: absolute;
        left: -40px;
        top: 8px;
    }
    .history__item--year {
        letter-spacing: 0.24rem;
        text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
        }
    .history__item--year .small {
        font-size: var(--fontSize25);
        padding-left: 2px;
    }
    .histroy__item--text {
        font-size: var(--fontSize18);
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0.04rem;
        margin-top: 20px;
        max-width: 440px;
        width: 100%;
        text-align: justify;
    }
    .history__item.left .histroy__item--text {
        max-width: none;
    }
    .history__chara1 {
        max-width: 70px;
        left: 230px;
        top: -30px;
    }
    .history__chara2 {
        max-width: 91px;
        left: 220px;
        top: -30px;
    }
    .history__chara3 {
        max-width: 72px;
        left: 230px;
        top: 0px;
    }
    .history__chara4 {
        max-width: 84px;
        left: 226px;
        top: -30px;
    }
    .history__bgText p {
        font-family: var(--fontMacho);
        font-weight: 700;
        letter-spacing: 0.4rem;
        font-size: 139px;
        margin-left:20px;
    }
    .history__bgText p:nth-child(1) {
        top: 26px;
    }
    .history__bgText p:nth-child(2) {
        top: 212px;
    }
    .history__bgText p:nth-child(3) {
        top: 360px;
    }
    .history__bgText p:nth-child(4) {
        top: 514px;
    }
    /* -------------------------
    company
    ----------------------------*/
    .about__company {
        padding-top: 120px;
        padding-bottom: 26px;
    }
    .company__wrap {
        max-width: 1010px;
        width: calc(100% - 18px);
        padding: 57px 0 60px 0;
        margin: auto;
        background-color: #fff;
        box-shadow : 
            0 0 0 2px var(--textBlack),
            0 0 0 7px var(--paleGreen),
            0 0 0 9px var(--textBlack);
    }
    table,tbody,tr,td,th {
        width: 100%;
        display: block;
    }
    .company__table {
        margin: auto;
        padding-top: 18px;
        width: calc(100% - 40px);
    }
    .company__table tr {
        border-bottom: 2px solid var(--textBlack);
    }
    .company__table th, .company__table td {
        font-size: var(--fontSize16);
        letter-spacing: 0.04rem;
    }
    .company__table td {
        padding-top: 10px;
        padding-bottom: 26px;
    }
    .company__table th {
        text-align: left;
        width: 270px;
        padding-top: 20px;
        padding-bottom: 0;
    }
}