.service__page {
    font-family: var(--fontZenMaruGothic);
}
/* -------------------------
point
----------------------------*/
.service__point {
    padding-top: 140px;
}
.point__column {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    gap: 50px;
}
.point__column--item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.point__column--item:nth-child(odd) {
    padding-top: 60px;
}
.point__column--img {
    display: flex;
}
.point__column--img svg {
    margin: auto;
    width: 290.509px;
    height: 288.298px;
}
.point__column--title {
    background-color: #64dc96;
    border: 3px solid var(--textBlack);
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize25);
    font-weight: 700;
    justify-content: center;
    margin-bottom: -30px;
    padding: 15px 32px;
    width: fit-content;
    position: relative;
    z-index: 10;
    letter-spacing: 0.06rem;
}
.point__column--title:before,
.point__column--title:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textBlack);
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.point__column--title:after {
    border-top: 10px solid #64dc96;
    bottom: -7px;
}
.point__column--text {
    margin-top: 45px;
    width: 364px;
}
.point__column--text p {
    font-size: var(--fontSize16);
    font-weight: 700;
    letter-spacing: 0.034rem;
    line-height: 1.8;
    text-align: justify;
}
/* -------------------------
about
----------------------------*/
.service__about {
    padding-top: 120px;
    padding-bottom: 145px;
}
.service__about--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}
.service__about--title .headline__line {
    border-top: 2px solid var(--textBlack);
    border-bottom: 2px solid var(--textBlack);
    height: 10px;
    width: 40%;
    margin-top: 8px;
}
.service__about--title h3 {
    font-size: var(--fontSize25);
    font-weight: 900;
    letter-spacing: 0.17rem;
    color: #fff;
    text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
}
.about__column {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 90px;
}
.about__column--item {
    max-width: 285px;
    /* width: 18.85vw; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about__column--img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0 20px;
}
.about__column--img::before {
    content: url(../images/service/service_about_itemBg.svg);
    max-width: 140px;
    max-height: 140px;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    z-index: 1;
}
.about__column--img img {
    height: 156px;
    width: auto;
    position: relative;
    z-index: 2;
}
.about__column--text {
    font-size: var(--fontSize25);
    letter-spacing: 0.01rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.about__column--text .small {
    font-size: var(--fontSize16);
    letter-spacing: 0.03rem;
}
.service__about--description {
    margin: auto;
    padding-top: 55px;
}
.service__about--description p {
    font-size: var(--fontSize18);
    letter-spacing: 0.04rem;
    font-weight: bold;
    text-align: center;
}
.service__about .more__btn--container {
    margin-top: 75px;
}
/* -------------------------
flow
----------------------------*/
.service__flow {
    padding: 140px 0;
    background-color: var(--main-color);
    border-top: 3px solid var(--textBlack);
    border-bottom: 3px solid var(--textBlack);
    position: relative;
}
.flow__chara {
    position: absolute;
    top: -140px;
    right: 120px;
    width: 278px;
}
.flow__item:nth-child(2) {
    margin-top: 110px;
}
.flow__item--title {
    background-color: #fff;
    border: 3px solid var(--textBlack);
    border-radius: 50px;
    color: var(--textBlack);
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize25);
    font-weight: 700;
    justify-content: center;
    left: 50%;
    margin-bottom: -30px;
    padding: 15px 0;
    width: 392px;
    position: relative;
    transform: translateX(-50%);
    z-index: 10;
    letter-spacing: 0.06rem;
}
.flow__item--title:before,
.flow__item--title:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textBlack);
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.flow__item--title:after {
    border-top: 10px solid #fff;
    bottom: -7px;
}
.flow__inner {
    margin-top: 70px;
}
.flow__item--title {
    margin-bottom: 30px;
}
.flow__item--slide img {
    width: 374px;
}
.service__flow .js-slide {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin: 80px auto;
    max-width: 1200px;
}
.service__flow .js-slide {
    display: block;
    margin: 40px auto;
    /* max-width: 1200px; */
}
.flow__item--slide img {
    transform: scale(.8);
    transition: transform .3s;
}

.flow__item--slide .slick-center {
    margin-top: -30px;
    transition: all 0.6s;
}
.flow__item--slide img {
    border: 3px solid var(--textBlack);
    height: auto;
    width: 380px;
}
.slick-dots {
    bottom: 10px;
}
.slick-dots li {
    margin: 0;
}
.slick-dots li button:before {
    font-size: 8px;
    opacity: 1;
    color: #fff;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--textBlack);
}
.slick-prev {
    left: calc(50% - 60px);
    margin-right: 40px;
}
.slick-next {
    left: 51%;
}
.slick-next, .slick-prev {
    top: 110%;
    width: 50px;
    height: 50px;
    color: #fff;
}
.slick-next::before, .slick-prev::before {
    border: 3px solid var(--textBlack);
    border-radius: 50%;
    display: block;
    width: 44px;
    height: 44px;
    opacity: 1;
    background-color: #fff;
    color: var(--textBlack);
    content: "";
}
.slick-next::before {
    background-color: #64DC96;
}
.slick-next::after  {
    content: url(../images/service/slide_arrow.svg);
    width: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.slick-prev::after {
    content: url(../images/service/slide_arrow.svg);
    width: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(180deg);
}
/* -------------------------
introduction
----------------------------*/
.service__introduction {
    padding: 140px 0;
    position: relative;
    overflow: hidden;
}
.size__tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 33px;
}
.size__tags .tag {
    width: 170px;
    padding: 12px 0 14px 0;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
}
.size__tags .tag.active {
    border: 3px solid var(--textBlack);
    background-color: var(--main-color);
}
.introduction__size {
    max-width: 750px;
    width: 49.6vw;
    margin: auto;
}
.introduction__size img {
    border: 3px solid var(--textBlack);
}
.introduction__point {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 113px;
}
.introduction__point .point__img {
    max-width: 670px;
    max-height: 460px;
    width: 44.3vw;
    height: 30.42vw;
    border: 3px solid var(--textBlack);
    position: relative;
    z-index: 2;
    background-color: #D9D9D9;
}
.introduction__point .point__content {
    max-width: 622px;
    max-height: 460px;
    width: 41.13vw;
    height: 30.42vw;
    border: 3px solid var(--textBlack);
    background-color: #fff;
    margin-top: 40px;
    margin-left: -5.95vw;
    padding-left: 5.95vw;
    position: relative;
    background-image: url(../images/service/point_contentBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.introduction__point .point__content--inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service__column--title {
    background-color: #64dc96;
    border: 3px solid var(--textBlack);
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize22);
    font-weight: 700;
    justify-content: center;
    margin-bottom: -30px;
    padding: 15px 32px;
    width: fit-content;
    min-width: 183px;
    position: relative;
    top: -15px;
    z-index: 10;
    letter-spacing: 0.25rem;
}
.service__column--title:before,
.service__column--title:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--textBlack);
    bottom: -10px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.service__column--title:after {
    border-top: 10px solid #64dc96;
    bottom: -7px;
}
.point__content--title {
    font-size: var(--fontSize25);
    letter-spacing: 0.07rem;
    font-weight: bold;
    padding-top: min(4.63vw, 70px);
    text-align: center;
}
.point__content--line {
	width:340px;
	height:20px;
    padding-top: 12px;
    padding-bottom: 8px;
}
.point__content--line line{
	fill: none;
	stroke: var(--textBlack);
	stroke-width: 3;
	stroke-linecap: round;
	stroke-dasharray: 0.5, 12;
}
.point__content--text {
    font-size: var(--fontSize18);
    font-weight: bold;
    line-height: 2;
    text-align: center;
}
.size__pagenation {
    position: relative;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.size__pagenation .pagenation {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid var(--textBlack);
}
.size__pagenation .pagenation.next {
    background-color: var(--main-color);
}
.size__pagenation .pagenation.prev::before {
    content: url(../images/service/slide_arrow.svg);
    width: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(180deg);
}
.size__pagenation .pagenation.next::before {
    content: url(../images/service/slide_arrow.svg);
    width: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
/* 背景のピンクのテキスト ↓*/
.bgPinkText__inner {
    overflow: visible;
    position: absolute;
    top: 480px;
    z-index: -1;
}
.bgPinkText {
    color: #fff;
    font-family: var(--fontMacho);
    font-size: var(--fontSize155);
    font-weight: 900;
    letter-spacing: .06em;
    line-height: 1.2;
    overflow: visible;
    width: 3000px;
}
.bgPinkText.first {
    margin-left: -37%;
}
.bgPinkText.second {
    margin-left: -21%;
}
.bgPinkText__inner.palePink {
    margin-left: -420px;
}
.bgPinkText__inner.palePink .bgPinkText {
    color: var(--main-color);
}
/* -------------------------
service message
----------------------------*/
.footer {
    background-color: var(--paleYellow);
}

@media screen and (max-width:1240px) {
/* -------------------------
point
----------------------------*/
    .service__point {
        padding-top: 140px;
    }
    .point__column {
        justify-content: space-between;
        max-width: none;
        gap: 3.3vw;
        padding: 0 5.12vw;
    }
    .point__column--item:nth-child(odd) {
        padding-top: 60px;
    }
    .point__column--img {
        display: flex;
    }
    .point__column--img svg {
        width: max(19.17vw, 200px);
        height: max(19.04vw, 198px);
    }
    .point__column--title {
        font-family: var(--fontZenMaruGothic);
        font-size: var(--fontSize20);
        font-weight: 700;
        margin-bottom: -30px;
        padding: 0.99vw 2.11vw;
        letter-spacing: 0.04rem;
    }
    .point__column--text {
        margin-top: 45px;
        width: 24.07vw;
    }
    .point__column--text p {
        font-size: var(--fontSize16);
        font-weight: 700;
        letter-spacing: 0.034rem;
        line-height: 1.8;
    }
/* -------------------------
about
----------------------------*/
    .service__about--title {
        gap: unset;
        max-width: none;
        padding: 0 5.12vw;
    }
    .service__about--title .headline__line {
        border-top: 2px solid var(--textBlack);
        border-bottom: 2px solid var(--textBlack);
        height: 10px;
        width: 39%;
        margin-top: 8px;
    }
    .service__about--title h3 {
        font-size: var(--fontSize25);
        font-weight: 900;
        letter-spacing: 0.17rem;
        color: #fff;
        text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
    }
    .about__column {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        gap: 20px;
        max-width: none;
        width: calc(89.76vw - 20px);
        margin: auto;
        padding: 90px 5.12vw 0 5.12vw;
    }
    .about__column--item {
        max-width: unset;
        width: 100%;
        background-color: #fff;
    }
    .about__column--img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 30px 0;
    }
    .about__column--img::before {
        content: url(../images/service/service_about_itemBg.svg);
        max-width: 140px;
        max-height: 140px;
        width: 140px;
        height: 140px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        z-index: 1;
    }
    .about__column--img img {
        height: 156px;
        width: auto;
        position: relative;
        z-index: 2;
    }
    .about__column--text {
        font-size: var(--fontSize25);
        letter-spacing: 0.01rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .about__column--text .small {
        font-size: var(--fontSize16);
        letter-spacing: 0.03rem;
    }
    .service__about--description {
        margin: auto;
        padding-top: 55px;
    }
    .service__about--description p {
        font-size: var(--fontSize18);
        letter-spacing: 0.04rem;
        font-weight: bold;
        text-align: center;
    }
    .service__about .more__btn--container {
        margin-top: 75px;
    }
/* -------------------------
introduction
----------------------------*/
    .service__column--title {
        font-family: var(--fontZenMaruGothic);
        font-size: var(--fontSize20);
        font-weight: 700;
        margin-bottom: -30px;
        padding: 0.99vw 2.11vw;
        letter-spacing: 0.04rem;
    }
    .point__content--title {
        font-size: var(--fontSize22);
    }
    .point__content--line {
        width: 266px;
    }
    .point__content--line line {
        stroke-width: 4px;
        stroke-dasharray: 0.5, 10;
    }
    .point__content--text {
        font-size: var(--fontSize16);
    }
}

@media screen and (max-width:1000px) {
/* -------------------------
introduction
----------------------------*/
    .service__column--title {
        font-family: var(--fontZenMaruGothic);
        font-size: var(--fontSize20);
        font-weight: 700;
        margin-bottom: -30px;
        padding: 0.99vw 2.11vw;
        letter-spacing: 0.04rem;
    }
    .point__content--title {
        font-size: var(--fontSize22);
    }
    .point__content--line {
        height: 12px;
        width: 266px;
    }
    .point__content--line line {
        stroke-width: 4px;
        stroke-dasharray: 0.5, 10;
    }
    .point__content--text {
        line-height: 1.8;
    }
}

@media screen and (max-width:767px) {
    /* -------------------------
    point
    ----------------------------*/
    .service__point {
        padding-top: 160px;
    }
    .point__column {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: none;
        gap: 40px;
    }
    .point__column--item:nth-child(odd) {
        padding-top: 0;
    }
    .point__column--img svg {
        width: 270px;
        height: 270px;
    }
    .point__column--title {
        border: 2px solid var(--textBlack);
        font-size: var(--fontSize20);
        margin-bottom: -30px;
        padding: 12px 28px;
        letter-spacing: 0.07rem;
    }
    .point__column--title:before,
    .point__column--title:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--textBlack);
        bottom: -8px;
    }
    .point__column--title:after {
        border-top: 8px solid #64dc96;
        bottom: -7px;
    }
    .point__column--text {
        margin-top: 30px;
        width: 100%;
    }
    .point__column--text p {
        font-size: var(--fontSize16);
        letter-spacing: 0.04rem;
        line-height: 1.8;
    }
    /* -------------------------
    about
    ----------------------------*/
    .service__about {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .service__about--title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        max-width: 1200px;
        margin: auto;
    }
    .service__about--title .headline__line {
        border-top: 2px solid var(--textBlack);
        border-bottom: 2px solid var(--textBlack);
        height: 4px;
        width: 40%;
        margin-top: 8px;
    }
    .service__about--title h3 {
        min-width: 140px;
        font-size: var(--fontSize25);
        font-weight: 900;
        letter-spacing: 0.17rem;
        color: #fff;
        text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
    }
    .about__column {
        grid-template-columns:1fr 1fr;
        gap: 10px;
        max-width: none;
        width: 89.76vw;
        margin: auto;
        padding-top: 40px;
    }
    .about__column--item {
        max-width: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about__column--img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 40px 0 20px;
    }
    .about__column--img::before {
        content: url(../images/service/service_about_itemBg.svg);
        max-width: 84px;
        max-height: 84px;
        width: 84px;
        height: 84px;
        top: 54%;
        left: 50%;
    }
    .about__column--img img {
        height: 90px;
        width: auto;
        position: relative;
        z-index: 2;
    }
    .about__column--text {
        font-size: var(--fontSize16);
        letter-spacing: 0.01rem;
        margin-bottom: 30px;
    }
    .about__column--text .small {
        font-size: 12px;
        letter-spacing: 0.03rem;
    }
    .service__about--description {
        margin: auto;
        padding-top: 26px;
    }
    .service__about--description p {
        font-size: var(--fontSize14);
        letter-spacing: 0.04rem;
    }
    .service__about .more__btn--container {
        margin-top: 30px;
    }
    /* -------------------------
    flow
    ----------------------------*/
    .service__flow {
        padding: 60px 5.12vw;
    }
    .flow__chara {
        width: 135px;
        top: -50px;
        right: 5.12vw;
    }
    .flow__item:nth-child(2) {
        margin-top: 110px;
    }
    .flow__item--title {
        border: 2px solid var(--textBlack);
        font-family: var(--fontZenMaruGothic);
        font-size: var(--fontSize20);
        left: 50%;
        margin-bottom: -30px;
        padding: 15px 0;
        width: 261px;
        letter-spacing: 0.06rem;
    }
    .flow__item--title:before,
    .flow__item--title:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid var(--textBlack);
        bottom: -8px;
    }
    .flow__item--title:after {
        border-top: 8px solid #fff;
        bottom: -6px;
    }
    .flow__inner {
        margin-top: 40px;
    }
    .flow__item--title {
        margin-bottom: -10px;
    }
    .flow__item--slide img {
        width: 350px;
    }
    .service__flow .js-slide {
        display: grid;
        gap: 30px;
        margin: 80px auto;
        max-width: none;
    }
    .service__flow .js-slide {
        display: block;
        margin: 40px auto;
        /* max-width: 1200px; */
    }
    .flow__item--slide img {
        transform: scale(.8);
        transition: transform .3s;
    }

    .flow__item--slide .slick-center {
        margin-top: 0;
        transition: all 0.6s;
    }
    .flow__item--slide img {
        border: 3px solid var(--textBlack);
        height: auto;
        width: 380px;
    }
    .slick-dots {
        bottom: 0px;
    }
    .slick-dots li {
        margin: 0;
    }
    .slick-dots li button:before {
        font-size: 8px;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: var(--textBlack);
    }
    .slick-prev {
        left: calc(50% - 50px);
        margin-right: 40px;
    }
    .slick-next {
        left: 52%;
    }
    .slick-next, .slick-prev {
        top: 110%;
        width: 40px;
        height: 40px;
        color: #fff;
    }
    .slick-next::before, .slick-prev::before {
        border: 2px solid var(--textBlack);
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    .slick-next::after  {
        width: 8px;
    }
    .slick-prev::after {
        width: 8px;
    }
    /* -------------------------
    introduction
    ----------------------------*/
    .service__introduction {
        padding: 60px 0;
    }
    .size__tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin: auto;
        padding-top: 65px;
        padding-bottom: 33px;
    }
    .size__tags .tag {
        width: 170px;
        padding: 12px 0 14px 0;
        background-color: #fff;
        border-radius: 50px;
        text-align: center;
    }
    .size__tags .tag.active {
        border: 3px solid var(--textBlack);
        background-color: var(--main-color);
    }
    .introduction__size {
        max-width: 750px;
        width: 89.76vw;
        margin: auto;
    }
    .introduction__size img {
        border: 3px solid var(--textBlack);
    }
    .introduction__point {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        padding-top: 113px;
    }
    .introduction__point .point__img {
        max-width: 670px;
        max-height: 460px;
        width: 44.3vw;
        height: 30.42vw;
        border: 3px solid var(--textBlack);
        position: relative;
        z-index: 2;
        background-color: #D9D9D9;
    }
    .introduction__point .point__content {
        max-width: 622px;
        max-height: 460px;
        width: 41.13vw;
        height: 30.42vw;
        border: 3px solid var(--textBlack);
        background-color: #fff;
        margin-top: 40px;
        margin-left: -5.95vw;
        padding-left: 5.95vw;
        position: relative;
        background-image: url(../images/service/point_contentBg.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .introduction__point .point__content--inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service__column--title {
        background-color: #64dc96;
        border: 3px solid var(--textBlack);
        border-radius: 50px;
        color: #fff;
        display: flex;
        font-family: var(--fontZenMaruGothic);
        font-size: var(--fontSize22);
        font-weight: 700;
        justify-content: center;
        margin-bottom: -30px;
        padding: 15px 32px;
        width: fit-content;
        min-width: 183px;
        position: relative;
        top: -15px;
        z-index: 10;
        letter-spacing: 0.25rem;
    }
    .service__column--title:before,
    .service__column--title:after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--textBlack);
        bottom: -10px;
        content: "";
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
    .service__column--title:after {
        border-top: 10px solid #64dc96;
        bottom: -7px;
    }
    .point__content--title {
        font-size: var(--fontSize25);
        letter-spacing: 0.07rem;
        font-weight: bold;
        padding-top: min(4.63vw, 70px);
        text-align: center;
    }
    .point__content--line {
        width:340px;
        height:20px;
        padding-top: 12px;
        padding-bottom: 8px;
    }
    .point__content--line line{
        fill: none;
        stroke: var(--textBlack);
        stroke-width: 3;
        stroke-linecap: round;
        stroke-dasharray: 0.5, 12;
    }
    .point__content--text {
        font-size: var(--fontSize18);
        font-weight: bold;
        line-height: 2;
        text-align: center;
    }
    .size__pagenation {
        position: relative;
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    .size__pagenation .pagenation {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        border: 3px solid var(--textBlack);
    }
    .size__pagenation .pagenation.next {
        background-color: var(--main-color);
    }
    .size__pagenation .pagenation.prev::before {
        content: url(../images/service/slide_arrow.svg);
        width: 11px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(180deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(180deg);
    }
    .size__pagenation .pagenation.next::before {
        content: url(../images/service/slide_arrow.svg);
        width: 11px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
    /* 背景のピンクのテキスト ↓*/
    .bgPinkText__inner {
        display: none;
    }
}