.news__page, .single__page {
    font-family: var(--fontZenMaruGothic);
}
/* -------------------------
news
----------------------------*/
.news__archive {
    margin-top: 160px;
    margin-bottom: 100px;
    position: relative;
}
.news__tag {
    margin: auto;
    margin-top: 76px;
}
/* .news__tag li.tag__information {
    line-height: 12px;
} */
.news__tag ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.news__tag li {
    background-color: #fff;
    padding: 13px 0 11px 0;
    border-radius: 50px;
    width: 170px;
    text-align: center;
    font-size: var(--fontSize16);
    line-height: 16px;
    cursor: pointer;
    box-sizing: border-box;
}
.news__tag li.active {
    background-color: var(--main-color);
    border: 3px solid var(--textBlack);
}
.news__content {
    margin: auto;
    margin-top: 69px;
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow : 
        0 0 0 3px var(--textBlack),
        0 0 0 16px var(--paleGreen),
        0 0 0 19px var(--textBlack);
}
.news__table {
    margin: auto;
    width: 83.4%;
}
.news__table tr {
    border-bottom: 2px solid var(--textBlack);
}
.news__table th {
    padding-bottom: 34px;
    padding-top: 32px;
    font-size: var(--fontSize16);
    letter-spacing: 0.04rem;
}
.news__table td {
    font-size: var(--fontSize18);
    font-weight: bold;
    line-height: 1.6;
}
.news__table td:not(.news__table td:has(a)) {
    padding-bottom: 34px;
    padding-top: 32px;
    font-size: var(--fontSize16);
    letter-spacing: 0.04rem;
    line-height: 1.8;
}
.news__table th {
    text-align: left;
    font-weight: 500;
}
.news__table tr {
    position: relative;
}
.news__table td a {
    transition: all 0.3s;
}
/* .news__table td a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0 1.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
} */
.news__table td a:hover {
    color: var(--main-color);
    cursor: pointer;
}
.news__table th button {
    width: 150px;
    height: 26px;
    background-color: var(--textBlack);
    color: #fff;
    border-radius: 50px;
    margin-left: 20px;
    border: none;
}
.news__pagenation {
    margin-top: 46px;
}
.news__pagenation ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.news__pagenation li.prev, .news__pagenation li.next {
    position: relative;
    top: -4px;
}
.news__pagenation li {
    font-size: var(--fontSize20);
    font-weight: bold;
    vertical-align: sub;
    cursor: pointer;
}
.news__pagenation li.active {
    color: var(--main-color);
}
.news__deco {
    position: absolute;
    bottom: -124px;
}

@media screen and (max-width:1280px) {
    .news__content {
        margin-right: 3.9vw;
        margin-left: 3.9vw;
        width: calc(100% - 7.8vw);
    }
    .news__table {
        max-width: none;
        padding: 4.63vw 0 5.29vw 0;
    }
    .news__table th {
        padding-right: 10px;
        min-width: 185px;
    }
    .news__table th button {
        width: 9.92vw;
        min-width: 100px;
    }
}

@media screen and (max-width:767px) {
    .news__archive {
        margin-top: 120px;
        margin-bottom: 40px;
    }
    .news__tag {
        margin: auto;
        margin-top: 30px;
    }
    .news__tag ul {
        gap: 6px;
    }
    /* .news__tag li.tag__information {
        line-height: 12px;
    } */
    .news__tag li {
        padding: 4px 0 2px 0;
        width: 110px;
        font-size: 13px;
        line-height: 20px;
    }
    .news__tag li.active {
        border: 2px solid var(--textBlack);
    }
    .news__content {
        margin-top: 49px;
        padding-top: 0;
        padding-bottom: 70px;
        margin-right: 8.71vw;
        margin-left: 8.71vw;
        width: calc(100% - 17.42vw);
        box-shadow : 
            0 0 0 2px var(--textBlack),
            0 0 0 12px var(--paleGreen),
            0 0 0 14px var(--textBlack);
    }
    table,tbody,tr,td,th {
        width: 100%;
        display: block;
    }
    .news__table {
        margin: auto;
        width: 84%;
    }
    .news__table tr {
        border-bottom: 1px solid var(--textBlack);
    }
    .news__table th, .news__table td {
        letter-spacing: 0.04rem;
    }
    .news__table th {
        padding-top: 26px;
        padding-bottom: 20px;
        text-align: left;
        font-weight: 500;
    }
    .news__table td {
        padding-bottom: 26px;
    }
    .news__table td:not(.news__table td:has(a)) {
        padding-top: 20px;
        padding-bottom: 26px;
    }
    .news__table th button {
        width: 110px;
        height: 18px;
        margin-left: 10px;
    }
    .news__pagenation {
        margin-top: 20px;
    }
    .news__pagenation ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .news__pagenation li {
        font-size: var(--fontSize20);
        vertical-align: sub;
    }
    .news__pagenation li.prev, .news__pagenation li.next {
        top: -2px;
    }
    .news__pagenation li.active {
        color: var(--main-color);
    }
    .news__deco {
        position: absolute;
        bottom: -70px;
        width: 97px;
    }
}

/* -------------------------
single
----------------------------*/
body:has(.single__page) {
    background-image: url(../images/news/single_bg.svg);
    background-size: cover;
    background-repeat: repeat;
}
.single__post {
    margin-top: 160px;
    margin-bottom: 110px;
}
.single__content {
    max-width: 630px;
    width: 100%;
    border: 3px solid var(--textBlack);
    background-color: #fff;
    padding: 60px;
    margin: auto;
}
.single__title {
    border-bottom: 2px solid var(--textBlack);
    padding-bottom: 40px;
}
.single__title--meta {
    font-size: var(--fontSize16);
}
.single__title--meta button {
    width: 150px;
    height: 26px;
    background-color: var(--textBlack);
    color: #fff;
    border-radius: 50px;
    margin-left: 18px;
    border: none;
}
.single__title--main {
    margin-top: 40px;
    font-size: var(--fontSize22);
    font-weight: bold;
    letter-spacing: 0.04rem;
    line-height: 1.8;
}
.single__img {
    margin-top: 40px;
}
.single__text {
    margin-top: 40px;
}
.single__text p {
    font-size: var(--fontSize16);
    font-weight: 500;
    letter-spacing: 0.04rem;
    line-height: 1.8;
}
.single__dottedLine {
    background: url(../images/news/dotted_line.svg) no-repeat center / 100% 100%;
    height: 10px;
    margin-top: 60px;
}
.single__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.single__footer--img {
    max-width: 250px;
    width: 100%;
}
.single__footer--info {
    width: 340px;
}
.single__footer--upper p {
    font-size: var(--fontSize16);
    letter-spacing: 0.04rem;
    line-height: 1.6;
    font-weight: bold;
}
.single__footer--bottom {
    margin-top: 40px;
}
.single__footer--bottom p {
    font-size: var(--fontSize16);
    letter-spacing: 0.04rem;
    line-height: 1.8;
    font-weight: bold;
}
.single__footer--bottom p.tel {
    margin-top: -2px;
    font-size: var(--fontSize30);
    font-family: var(--fontRoboto);
    letter-spacing: 0.02rem;
    color: var(--main-color);
}
.single__footer--bottom p.tel .small {
    font-size: var(--fontSize18);
    margin-right: 8px;
}
.single__pagenation {
    margin: auto;
    margin-top: 30px;
    width: 750px;

}
.single__pagenation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.single__pagenation li.prev img {
    margin-right: 12px;
    position: relative;
    top: -2px;
}
.single__pagenation li.next img {
    margin-left: 12px;
    position: relative;
    top: -2px;
}

@media screen and (max-width:1240px) {
    .single__post {
        margin-bottom: 7.27vw;
    }
}

@media screen and (max-width:767px) {
    /* -------------------------
    single
    ----------------------------*/
    body:has(.single__page) {
        background-image: url(../images/news/single_bg_sp.svg);
    }
    .single__post {
        margin-top: 120px;
        margin-bottom: 20px;
    }
    .single__content {
        max-width: 79.48vw;
        border: 2px solid var(--textBlack);
        padding: 20px;
    }
    .single__title {
        border-bottom: 2px solid var(--textBlack);
        padding-bottom: 40px;
    }
    .single__title--meta {
        font-size: var(--fontSize16);
    }
    .single__title--meta button {
        width: 110px;
        height: 26px;
        background-color: var(--textBlack);
        color: #fff;
        border-radius: 50px;
        margin-left: 18px;
    }
    .single__title--main {
        margin-top: 20px;
        letter-spacing: 0.04rem;
        line-height: 1.8;
    }
    .single__img {
        margin-top: 30px;
    }
    .single__text {
        margin-top: 30px;
    }
    .single__text p {
        font-size: 16px;
        font-weight: 500;
    }
    .single__dottedLine {
        background: url(../images/news/dotted_line_sp.svg) no-repeat center / 100% 100%;
        height: 10px;
        margin-top: 30px;
    }
    .single__footer {
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
    }
    .single__footer--img {
        max-width: 160px;
        width: 100%;
    }
    .single__footer--info {
        padding-top: 30px;
        width: 300px;
    }
    .single__footer--upper p {
        font-size: 16px;
        letter-spacing: 0.04rem;
        line-height: 1.6;
        font-weight: bold;
    }
    .single__footer--bottom {
        margin-top: 25px;
    }
    .single__footer--bottom p {
        font-size: 16px;
        letter-spacing: 0.04rem;
        line-height: 1.8;
        font-weight: bold;
    }
    .single__footer--bottom p.tel {
        margin-top: -2px;
        font-size: 30px;
        font-family: var(--fontRoboto);
        letter-spacing: 0.02rem;
        color: var(--main-color);
        -webkit-text-fill-color: var(--main-color); 
        -webkit-opacity: 1; 
    }
    .single__footer--bottom p.tel .small {
        margin-right: 8px;
    }
    .single__pagenation {
        margin: auto;
        margin-top: 30px;
        width: 350px;

    }
    .single__pagenation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .single__pagenation li.prev img {
        margin-right: 12px;
        position: relative;
        top: -2px;
    }
    .single__pagenation li.next img {
        margin-left: 12px;
        position: relative;
        top: -2px;
    }
}