.legal__wrap {
    box-sizing: border-box;
    border: 3px solid #231815;
    background: #fff;
    max-width: 1200px;
    margin: 75px auto 105px;
    padding: 80px 0;
}

.legal__item {
    width: 86%;
    margin: auto;
    border-bottom: 1px solid #FFB4C8;
    padding-bottom: 30px;
}
.legal__item:not(:first-child) {
    padding-top: 30px;
}

.legal__h3, .legal__text {
    line-height: 1.9;
    letter-spacing: 0.04rem;
}

.legal__h3 {
    font-size: var(--fontSize20);
    font-weight: bold;
    padding-bottom: 20px;
}

.legal__text {
    font-size: var(--fontSize16);
    font-weight: medium;
}

@media screen and (max-width: 1240px) {
    .legal__wrap {
        margin: 50px 40px 60px;
    }
}

@media screen and (max-width: 767px) {
    .page__title {
        line-height: 1.5;
    }
    .legal__wrap {
        margin: 35px 20px 20px;
        padding: 30px 0 40px;
        border: 2px solid #231815;
    }
    .legal__item {
        width: 86%;
        padding-bottom: 16px;
    }
    .legal__item:not(:first-child) {
        padding-top: 16px;
    }
    
    .legal__h3, .legal__text {
        line-height: 1.8;
        font-size: 16px;
        letter-spacing: 0.02rem;
        text-align: justify;
    }
    .legal__h3 {
        padding-bottom: 4px;
    }
}