@charset "utf-8";
/* -------------------------
Safari
----------------------------*/
_::-webkit-full-page-media, _:future, :root input[type="radio"]{
  top: 4px;
}
_::-webkit-full-page-media, _:future, :root input[type="radio"]:checked{
  top: 4px;
}
/* -------------------------
common
----------------------------*/
body {
  background-color: #fddee8;
}
.stop{
  overflow:hidden;
  padding-right: 17px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.sp-br {
  display: none;
}
.tb-br {
  display: none;
}
.pc-br
.spHide {
  display: block;
}
.page__title--inner {
  text-align: center;
}
.page__title--img,
.page__title--img img {
  height: 64px;
}

.page__title {
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize44);
  letter-spacing: 0.17rem;
  line-height: 2;
  color: #fff;
  /* -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--textBlack); */
  text-shadow: 
  -3px 0 0 var(--textBlack),
  -3px -1px 0 var(--textBlack),
  -2px -2px 0 var(--textBlack),
  -1px -3px 0 var(--textBlack),
  0px -3px 0 var(--textBlack),
  1px -3px 0 var(--textBlack),
  2px -2px 0 var(--textBlack),
  3px -1px 0 var(--textBlack),
  3px 0px 0 var(--textBlack),
  3px 1px 0 var(--textBlack),
  2px 2px 0 var(--textBlack),
  1px 3px 0 var(--textBlack),
  0px 3px 0 var(--textBlack),
  -1px 3px 0 var(--textBlack),
  -2px 2px 0 var(--textBlack),
  -3px -1px 0 var(--textBlack);
  position: relative;
  z-index: 20;
}

.page__subtitle,
.page__subtitle img {
  height: 36px;
}
/* .page__subtitle.highTitle,
.page__subtitle.highTitle img {
  height: 58px;
} */
.page__title--img.threeColumnTitle,
.page__title--img.threeColumnTitle img {
  height: 208px;
}
.page__subTitle {
  color: var(--textBlack);
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize18);
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1.3;
}
.page__text {
  color: var(--textBlack);
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize18);
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 2;
}
.more__btn--container {
  margin-top: 36px;
  text-align: center;
  position: relative;
  z-index: 10;
}
.more__btn {
  background-color: #fff;
  border: 3px solid var(--textBlack);
  border-radius: 60px;
  box-shadow: 0 3px 0 var(--textBlack);
  color: var(--textBlack);
  cursor: pointer;
  display: inline-block;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize18);
  font-weight: bold;
  letter-spacing: .04em;
  line-height: 2.2;
  /* padding: 14px 72px 18px; */
  padding: 6px 72px 9px;
  text-decoration: none;
}
.more__btn:hover {
  box-shadow: none;
  transform: translateY(3px);
}
/* -------------------------
header
----------------------------*/
.header {
  height: 140px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header__inner {
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 48px 0 40px;
}

.header__container {
  align-items: center;
  display: flex;
}
.snsNav {
  padding-right: 31px;
}
.snsNav__list {
  display: grid;
  gap: 0 20px;
  grid-template-columns: repeat(4, 1fr);
}
.snsNav__list--item {
  border: 3px solid var(--textBlack);
  border-radius: 50%;
}
.headerNavMenu {
  height: auto;
  margin-top: -58px;
  width: 115px;
  position: relative;
}
.headerNavMenu img {
  cursor: pointer;
}
.headerNavMenu:hover .defalt__img {
  display: none;

}
.headerNavMenu:hover .hover__img {
  display: block;
}
.defalt__img {
  position: absolute;
  top: -96px;
}
.hover__img {
  position: absolute;
  display: none;
  top: -96px;
}
.side_btnInner {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  position: fixed;
  right: -13px;
  top: 147px;
  z-index: 100;
}
.side_btn {
  align-items: center;
  border: 3px solid var(--textBlack);
  border-radius: 8.5px;
  display: grid;
  gap: 16px 0;
  justify-content: center;
}
.side_btn img {
  height: 24px;
  width: 24px;
}
.side_btn.orange {
  background-color: #faaa0a;
  padding: 34px 22px 38px 14px;
}
.side_btn.green {
  background-color: #32d278;
  padding: 16px 22px 16px 14px;
} 
.side_btn--text {
  color: #fff;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 600;
  line-height: 1.5;
  writing-mode: vertical-rl;
  letter-spacing: 0.06rem;
}
/* -------------------------
nav menu
----------------------------*/
.header__menu {
  display: none;
}
.header__menu.open {
  display: block;
}
.header__menu {
  position: fixed;
  /* display: none; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  font-family: var(--fontZenMaruGothic);
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: 0;
  min-height: 780px;
  box-sizing: border-box;
}
.menu__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 726px;
  padding: 110px 100px 32px 100px;
  background: #fff;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: scroll;
}
.menu__inner {
  position: relative;
}
.menu__inner .menu__list {
  display: flex;
  flex-wrap: wrap;
  min-width: 512px;
}
.menu__inner .menu__list .menu__item {
  /* min-width: 257px; */
  width: 50%;
}
.menu__inner .menu__list li:not(:last-child) {
  margin-bottom: 60px;
  margin-bottom: 6vh;
}
.menu__item--subTitle {
  font-size: var(--fontSize16);
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--palePink);
}
.menu__item--title {
  font-size: var(--fontSize30);
  font-weight: bold;
  letter-spacing: 0.12rem;
  color: var(--textBlack);
  padding-top: 16px;
  transition: all 0.3s;
}
.menu__item--title:hover {
  color: var(--palePink);
}
.menu__item--title.active {
  color: var(--palePink);
}
.menu__btns {
  margin-top: 30px;
  margin-top: 10px;
  margin-top: 1vh;
}
.menu__btns .estimate__btn {
  background-color: #64dc96;
  border: 2px solid var(--textBlack);
  border-radius: 50px;
  color: #FFFF6E;
  display: flex;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize28);
  font-weight: 700;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 17px 0;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  z-index: 10;
  letter-spacing: 0.06rem;
  transition: all 0.2s ease-out;
  top: 0;
  text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
  cursor: pointer;
}
.menu__btns .estimate__btn:hover {
  top: -6px;
}
.menu__btns .estimate__btn img {
  width: 66px;
}
.tel__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFF;
  border: 2px solid var(--textBlack);
  border-radius: 120px;
  color: var(--palePink);
  padding: 22px 0 38px 0;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-out;
  top: 0;
}
.tel__btn:hover {
  top: -6px;
}
.tel__btn--icon img {
  border: 2px solid #000;
  border-radius: 50%;
  height: 38px;
  width: 38px;
}
.tel__btn .telNumberInner {
  padding-left: 10px;
  position: relative;
}
.tel__btn .tel__telSpeech {
  align-items: center;
  background: #000;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 700;
  justify-content: center;
  padding: 8px 5px;
  position: absolute;
}
.tel__btn .tel__telSpeech.first {
  left: 150px;
  top: -40px;
}
.tel__btn .tel__telSpeech.second {
  right: 0;
  top: -40px;
}
.tel__btn .tel__telSpeech::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  bottom: -5px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}
.tel__btn .tel__reception {
  color: var(--textBlack);
  position: absolute;
  width: 182px;
  top: 132%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  text-wrap: nowrap;
}

.tel__btn .tel__telNumber {
  color: var(--palePink);
  -webkit-text-fill-color: var(--palePink); 
  -webkit-opacity: 1; 
  font-family: var(--fontRoboto);
  font-size: var(--fontSize47);
  font-weight: 700;
  letter-spacing: .06em;
  /* -webkit-text-stroke: 2px black; */
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.menu__link {
  margin-top: 38px;
}
.menu__link .link__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 16px; */
}

.link__list .link__item {
  /* min-width: 250px; */
  width: 50%;
  margin-bottom: 16px;
}
.link__list .link__item a {
  color: var(--textBlack);
  transition: all 0.3s;
}
.link__list .link__item a:hover {
  color: var(--palePink);
}
.link__list .link__item span {
  vertical-align: middle;
}
.link__list .link__item img {
  width: 20px;
  padding-right: 12px;
}
.menu__sns {
  margin-top: 50px;
  margin-top: 20px;
  margin-top: 2vh;
}
.menu__sns .sns__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}
.sns__list .sns__item {
  position: relative;
  border: 2px solid var(--textBlack);
  border-radius: 50%;
  top: 0;
  transition: all 0.2s ease-out;
}
.sns__list .sns__item:hover {
  top: -6px;
}
.close__btn {
  border: 2px solid var(--textBlack);
  background-color: var(--textBlack);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}
.dli-close {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.dli-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
/* -------------------------
message
----------------------------*/
.lower__message {
  padding: 80px 0 100px 0;
  background-color: var(--paleYellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top: 3px solid var(--textBlack);
}
.lower__message .message__bg--title {
  max-width: 814px;
  width: 53.83vw;
}
.lower__message .message__chara--img {
  margin-top: -50px;
  max-width: 183px;
  width: 12.1vw;
}
.lower__message .message__inner {
  margin-top: 44px;
}
.lower__message .message__inner .message__text {
  font-size: var(--fontSize18);
  font-weight: bold;
  letter-spacing: 0.06rem;
  line-height: 2.6;
  text-align: center;
}
.lower__message .more__btn--container {
  margin-top: 65px;
}
/* -------------------------
footer
----------------------------*/
.footer {
  overflow: hidden;
  padding-top: 146px;
}
.footer__inner {
  position: relative;
  z-index: 2;
}
.footer__grass {
  position: absolute;
  z-index: -1;
}
.footer__grass.first {
  left: 2.6vw;
  top: 39%;
}
.footer__grass.second {
  left: 52vw;
  top: 12%;
}
.footer__grass.third {
  bottom: 28%;
  right: 33vw;
}
.footer__grass.forth {
  bottom: 35%;
  right: 4vw;
}
.footer__inner {
  background-color: #33d178;
  padding: 100px 10.2vw 90px;
}
.movingChara__inner {
  position: relative;
}
.movingChara {
  bottom: 21px;
  left: 50%;
  max-width: 16.7vw;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: 20;
}
.movingChara__load {
  display: flex;
  margin-bottom: -3px;
  margin-left: -10vw;
  overflow: visible;
  position: relative;
  width: 120vw;
  z-index: 10;
}
.movingChara__load img {
  width: 100%;
}
.footer__container {
  margin: 0 auto;
  width: 100%;
}
.footer__topContainer {
  align-items: center;
  border-bottom: 2px solid #64dc96;
  display: grid;
  gap: 5.5%;
  grid-template-columns: 17% 32% 40%;
  padding-bottom: 50px;
}
.footer__detail {
  color: #fff;
  font-family: var(--fontZenMaruGothic);
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 3;
}
.footer__detail--name {
  font-size: var(--fontSize20);
  margin-bottom: 16px;
}
.footer__detail--address {
  color: #fff;
  font-size: var(--fontSize18);
  line-height: 1.66;
}
.footer__tel {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px 0 45px;
  width: 460px;
}
.footer__tel--icon img {
  border: 3px solid #000;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.footer__telNumberInner {
  padding-left: 10px;
  position: relative;
}
.footer__telSpeech {
  align-items: center;
  background: #000;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 700;
  justify-content: center;
  padding: 8px 5px;
  position: absolute;
}
.footer__telSpeech.first {
  left: 150px;
  top: -40px;
}
.footer__telSpeech.second {
  right: 0;
  top: -40px;
}
.footer__telSpeech::after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  bottom: -5px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}
.footer__reception {
  bottom: -20px;
  left: 50px;
  position: absolute;
}

.footer__telNumber {
  color: var(--palePink);
  font-family: var(--fontRoboto);
  font-size: var(--fontSize47);
  font-weight: 700;
  letter-spacing: .06em;
  /* -webkit-text-stroke: 2px black; */
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.footer__reception {
  color: var(--textBlack);
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 700;
  letter-spacing: .1em;
}
.footerNav__column1 {
  align-items: end;
  display: flex;
  justify-content: space-between;
}
.footerNav__container {
  padding-top: 45px;
}
.footerNav__list {
  display: grid;
  gap: 10px 8%;
  grid-template-columns: 20% 28% auto;
  width: 641px;
}
.footerNav__list--item {
  color: #fff;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 700;
  letter-spacing: .1em;
  transition: all 0.3s;
}
.footerNav__list--item:hover {
  opacity: 0.8;
}
.footerNav__list--item a {
  color: #fff;
}
.footerNav__list--item img {
  width: 7px;
  padding-right: 6px;
  padding-bottom: 2px;
}
.footerBtn__inner {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
}
.footerBtn {
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 0 #1ebe64;
  color: var(--textBlack);
  display: flex;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 700;
  justify-content: center;
  letter-spacing: .02em;
  padding: 12px 25px;
  position: relative;
  top: 0;
  transition: all 0.3s;
}
.footerBtn:hover {
  top: -4px;

}
.footerBtn.realstate::before {
  content: url("../images/icon_realestate.svg");
  padding-right: 11px;
}
.footerBtn.recycle::before {
  content: url("../images/icon_recycle.svg");
  padding-right: 11px;
} 
.footerNav__column2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
.copyright {
  color: #fff;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize16);
  font-weight: 700;
  letter-spacing: .04em;
}
.footer__snsInner {
  display: grid;
  gap: 33px;
  grid-template-columns: repeat(3, 1fr);
}
.footer__snsIcon {
  transition: all 0.3s;
}
.footer__snsIcon:hover {
  opacity: 0.7;
}
/* -------------------------
lower common
----------------------------*/
.lowermain {
  margin-top: 160px;
  font-family: var(--fontZenMaruGothic);
}
.lowermain_inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* アニメーションの部分 */
.lower__charaInner {
  height: auto;
  width: 100%;
  height: 60vh;
  height: 530px;
  margin: -80px auto -150px;
  position: relative;
}
.lower__chara--img1,
.lower__chara--surround1,
.lower__chara--surround2 {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lower__chara--img1 {
  max-width: 283px;
  width: 100%;
  z-index: -1;
}
.lower__chara--surround1 {
  max-width: 432px;
  width: 100%;
  z-index: -2;
}
.lower__chara--surround2 {
  max-width: 540px;
  width: 100%;
  z-index: -3;
}
/* アニメーションの部分 ↑*/
.lower__textInner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 20;
  
}
.lower__textInner .page__text {
  line-height: 2.5;
}
.lower__textInner--title {
  color: var(--textBlack);
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize30);
  font-weight: 700;
  letter-spacing: .07em;
}
.PinkBg {
  display: inline;
  color: #fff;
  font-family: var(--fontZenMaruGothic);
  font-size: var(--fontSize25);
  letter-spacing: .07em;
  line-height: 2.4;
}
.PinkBg span {
  background-color: var(--palePink);
  padding: 2px 8px;
}
.lower__textInner--text {
  font-size: var(--fontSize18);
  letter-spacing: 0.06rem;
  line-height: 2.6;
  font-weight: 700;
}
/* kirakira */
.lower__pinkCircle,
.lower__whiteCircle {
  position: absolute;
}
.lower__pinkCircle.first,
.lower__pinkCircle.fifth,
.lower__whiteCircle.first,
.lower__whiteCircle.second {
  height: auto;
  width: 1.5vw;
}
.lower__pinkCircle.second,
.lower__pinkCircle.third,
.lower__pinkCircle.forth,
.lower__pinkCircle.sixth,
.lower__whiteCircle.third {
  height: auto;
  width: 2.5vw;
} 
.lower__pinkCircle.first {
  left: 18vw;
  top: 185px;
}
.lower__pinkCircle.second {
  bottom: 144px;
  left: 19vw;
}
.lower__pinkCircle.third {
  left: 27vw;
  top: 152px;
}
.lower__pinkCircle.forth {
  right: 29vw;
  top: 139px;
}
.lower__pinkCircle.fifth {
  right: 23vw;
  top: 234px;
}
.lower__pinkCircle.sixth {
  bottom: 128px;
  right: 19vw;
}
.lower__whiteCircle.first {
  left: 24vw;
  top: 274px;
}
.lower__whiteCircle.second {
  bottom: 206px;
  right: 27vw;
}
.lower__whiteCircle.third {
  right: 18vw;
  top: 169px;
}
.lower__deco {
  position: relative;
  width: 100%;
}
.lower__deco--chara1 {
  max-width: 193px;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 18vw;
  z-index: 10;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.lower__deco--bg1 {
  width: 229px;
  position: absolute;
  top: -100px;
  left: 18vw;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 9;
}
.lower__deco--bg2 {
  width: 286px;
  position: absolute;
  top: -100px;
  left: 18vw;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 8;
}
.lower__deco--chara2 {
  max-width: 149px;
  width: 100%;
  position: absolute;
  top: 12px;
  right: 18vw;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(50%);
  z-index: 10;
}
.lower__deco--bg3 {
  width: 229px;
  position: absolute;
  top: 12px;
  right: 18vw;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(50%);
  z-index: 9;
}
.lower__deco--bg4 {
  width: 286px;
  position: absolute;
  top: 12px;
  right: 18vw;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(50%);
  z-index: 8;
}
@media screen and (min-width:1400px) {
  .footer__tel--wrap {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width:1513px) {
  .mainvisual__wrap {
    background-color: #FFB4C8;
    height: fit-content;
    position: relative;
  }
  .mainvisual__top {
    /* height: 720px!important; */
    /* width: 1512px !important; */
    margin: auto;
    /* background-image: url("../images/top/img-top_mainvisualTopBg.svg") !important; */
  }
}
@media screen and (min-width:1700px) {
  .mainvisual__top {
    /* width: 1512px!important; */
    /* height: 810px!important; */
    margin: auto;
  }
}
@media screen and (max-width:1200px) {
  .tb-br {
    display: block;
  }
  .lower__deco--chara1, .lower__deco--bg1, .lower__deco--bg2 {
    left: 14vw;
  }
  .lower__deco--chara2, .lower__deco--bg3, .lower__deco--bg4 {
    right: 14vw;
  }

  .footer__inner {
    padding: 70px 40px 55px;
  }
  .footer__container {
    max-width: 1000px;
  }
  .footer__topContainer {
    gap: 6%;
    grid-template-columns: 18% 39% 30%;
  }
  .footer__detail--name {
    font-size: var(--fontSize18);
  }
  .footer__detail--address {
    font-size: var(--fontSize16);
  }
  .footer__tel {
    padding: 20px;
    width: auto;
  }
  .footer__telNumber {
    font-size: var(--fontSize26);
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  .footer__reception {
    bottom: -5px;
    font-size: var(--fontSize14);
    left: 15px;
  }
  .footer__telSpeech {
    font-size: var(--fontSize14);
  }
  .footer__telSpeech.first {
    left: 73px;
  }
  .footer__telSpeech.second {
    right: -40px;
  }
  .footerNav__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:1024px) {
  .menu__wrap {
    max-width: none;
    height: 100vh;
  }
}
@media screen and (max-width:1020px) and (min-width:768px) {
  .footer__tel {
    padding: 15px;
  }
  .footerBtn {
    font-size: var(--fontSize12);
    padding: 12px 16px;
  }
}
@media screen and (max-width:1000px) and (min-width:768px) {
  .lower__deco--chara1 {
    max-width: 14.76vw;
  }
  .lower__deco--bg1 {
    width: 17.14vw;
  }
  .lower__deco--bg2 {
    width: 20.91vw;
  }
  .lower__deco--chara2, .lower__deco--bg3, .lower__deco--bg4 {
    right: 14vw;
  }

  .lower__deco--chara2 {
    max-width: 14.76vw;
  }
  .lower__deco--bg3 {
    width: 17.14vw;
  }
  .lower__deco--bg4 {
    width: 20.91vw;
  }

  .footer__inner {
    padding: 40px;
  }
  .footer__container {
    max-width: 768px;
  }
  .footer__topContainer {
    gap: 3%;
    grid-template-columns: 14% 43% 37%;
  }
  .footerNav__list {
    grid-template-columns: 40% 60%;
    width: 460px;
  }
  .footer__detail--name {
    font-size: var(--fontSize16);
    margin-bottom: 5px;
  }
  .footer__detail--address {
    font-size: var(--fontSize14);
  }
  .footer__tel--icon img {
    height: 30px;
    width: 30px;
  }
  .footer__telNumber {
    font-size: var(--fontSize25);
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  .footer__reception {
    font-size: var(--fontSize12);
  }
  .footer__telSpeech.first {
    font-size: var(--fontSize12);
    left: 74px;
  }
  .footer__telSpeech.second {
    font-size: var(--fontSize12);
    right: -30px;
  }
}
@media screen and (max-width:767px) {
  /* -------------------------
common
----------------------------*/
  .sp-br {
    display: block;
  }
  .pc-br,
  .spHide {
    display: none;
  }

  .page__title--img {
    height: 44px;
  }
  .page__title {
    font-weight: 900;
    line-height: 38px;
    padding-top: 8px;
    text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
  }
  .page__subTitle {
    line-height: 1.75;
  }
  .page__text {
    font-weight: 500;
    line-height: 1.75;
  }
  .more__btn {
    border: 2px solid var(--textBlack);
    padding: 7px 32px 9px;
  }
  .twoColumnTitle,
  .twoColumnTitle img {
    height: 63px;
  }
  .page__title--img.threeColumnTitle,
  .page__title--img.threeColumnTitle img {
    height: 132px;
  }
  /* -------------------------
header
----------------------------*/
  .header {
    height: 50px;
  }

  .header__inner {
    align-items: center;
    padding: 15px 20px 0 20px;
  }
  .headerLogo {
    max-width: 98px;
    width: 100%;
  }
  .snsNav {
    padding-right: 15px;
  }
  .snsNav__list {
    gap: 0 10px;
  }
  .snsNav__list--item {
    border: 1px solid var(--textBlack);
    height: 26px;
    width: 26px;
  }
  .headerNavMenu {
    margin-top: -36px;
    width: 60px;
  }
  .defalt__img {
    top: -52px;
  }
  .hover__img {
    top: -52px;
  }
  .side_btn {
    display: none;
  }
  /* -------------------------
nav menu
----------------------------*/
  .header__menu {
    position: fixed;
    /* display: none; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1000;
    font-family: var(--fontZenMaruGothic);
  }
  .menu__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: 0;
    min-height: unset;
    box-sizing: border-box;
  }
  .menu__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 726px;
    padding: 82px 30px 35px 30px;
    background: #fff;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-y: scroll;
  }
  .menu__inner {
    position: relative;
  }
  .menu__inner .menu__list {
    display: flex;
    flex-wrap: wrap;
    min-width: unset;
  }
  .menu__inner .menu__list .menu__item {
    /* min-width: 257px; */
    width: 100%;
  }
  .menu__item2 {
    order: 4;
  }
  .menu__item4 {
    order: 5;
  }
  .menu__item6 {
    order: 6;
  }
  .menu__inner .menu__list li:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu__item--subTitle {
    font-size: var(--fontSize14);
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: var(--palePink);
  }
  .menu__item--title {
    font-size: var(--fontSize20);
    font-weight: bold;
    letter-spacing: 0.12rem;
    color: var(--textBlack);
    padding-top: 6px;
  }
  .menu__item--title.active {
    color: var(--palePink);
  }
  .menu__btns {
    margin-top: 45px;
  }
  .menu__btns .estimate__btn {
    background-color: #64dc96;
    border: 2px solid var(--textBlack);
    border-radius: 50px;
    color: #FFFF6E;
    display: flex;
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize28);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 17px 0;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    z-index: 10;
    letter-spacing: 0.06rem;
    text-shadow: rgb(35, 24, 21) 2px 0px 0px, rgb(35, 24, 21) 1.75517px 0.958851px 0px, rgb(35, 24, 21) 1.0806px 1.68294px 0px, rgb(35, 24, 21) 0.141474px 1.99499px 0px, rgb(35, 24, 21) -0.832294px 1.81859px 0px, rgb(35, 24, 21) -1.60229px 1.19694px 0px, rgb(35, 24, 21) -1.97998px 0.28224px 0px, rgb(35, 24, 21) -1.87291px -0.701566px 0px, rgb(35, 24, 21) -1.30729px -1.5136px 0px, rgb(35, 24, 21) -0.421592px -1.95506px 0px, rgb(35, 24, 21) 0.567324px -1.91785px 0px, rgb(35, 24, 21) 1.41734px -1.41108px 0px, rgb(35, 24, 21) 1.92034px -0.558831px 0px;
  }
  .menu__btns .estimate__btn img {
    width: 47px; 
  }
  .tel__btn {
    width: 100%;
    background-color: #FFF;
    padding: 18px 0 24px 0;
  }
  .tel__btn--icon img {
    border: 2px solid #000;
    border-radius: 50%;
    height: 26px;
    width: 26px;
  }
  .tel__btn .telNumberInner {
    padding-left: 10px;
  }
  .tel__btn .tel__telSpeech {
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize12);
    font-weight: 700;
    padding: 6px 5px;
  }
  .tel__btn .tel__telSpeech.first {
    left: 93px;
    top: -31px;
  }
  .tel__btn .tel__telSpeech.second {
    right: -8px;
    top: -31px;
  }
  .tel__btn .tel__reception {
    font-size: var(--fontSize14);
    width: 149px;
    top: 132%;
    left: 50%;
  }

  .tel__btn .tel__telNumber {
    font-size: var(--fontSize30);
    letter-spacing: .06em;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  }
  .menu__link {
    margin-top: 38px;
  }
  .menu__link .link__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .link__list .link__item {
    width: 100%;
    margin-bottom: 20px;
    font-size: var(--fontSize14);
  }
  .link__item.icon__item1 {
    order: 4;
  }
  .link__item.icon__item2 {
    order: 5;
  }
  .link__list .link__item img {
    width: 20px;
    padding-right: 12px;
  }
  .menu__sns {
    margin-top: 34px;
  }
  .menu__sns .sns__list {
    justify-content: flex-start;
    gap: 16px;
  }
  .sns__list .sns__item {
    border: 2px solid var(--textBlack);
    border-radius: 50%;
  }
  .sns__list .sns__item img {
    width: 40px;
    height: 40px;
  }
  .close__btn {
    border: 2px solid var(--textBlack);
    background-color: var(--textBlack);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .dli-close {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 1em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  }
  .dli-close::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }
  /* -------------------------
  message
  ----------------------------*/
  .lower__message {
    padding: 80px 0 20px 0;
    border-top: 2px solid var(--textBlack);
  }
  .lower__message .message__bg--title {
    max-width: 334px;
    width: 100%;
  }
  .lower__message .message__chara--img {
    margin-top: -10px;
    max-width: 136px;
    width: 34.87vw;
  }
  .lower__message .message__inner {
    margin-top: 30px;
  }
  .lower__message .message__inner .message__text {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.06rem;
    line-height: 2;
    text-align: center;
  }
  .lower__message .more__btn--container {
    margin-top: 40px;
  }
  /* -------------------------
footer
----------------------------*/
  .movingChara {
    bottom: 15px;
    max-width: 142px;
    width: 100%;
  }
  .movingChara__load {
    margin-left: -50vw;
    width: 250vw;
  }
  .footer__inner {
    padding: 40px 20px 55px;
  }
  .footer__topContainer {
    gap: 30px 0;
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .footer__logo {
    margin: 0 auto;
    width: 123px;
  }
  .footer__detail {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer__telNumberInner {
    padding-left: 7px;
  }
  .footer__telNumber {
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
  }
  .footer__tel {
    border-radius: 10px;
    padding: 15px 0 30px;
  }
  .footer__telSpeech.first {
    left: 102px;
  }
  .footer__telSpeech.second {
    right: -14px;
  }
  .footer__reception {
    bottom: -12px;
    left: 32px;
  }
  .footer__tel--icon img {
    height: 30px;
    width: 30px;
  }
  .footer__telNumber {
    font-size: var(--fontSize35);
  }
  .footerNav__container {
    padding-top: 30px;
  }
  .footer__grass.first {
    left: -.1vw;
    top: 20%;
  }
  .footer__grass.second {
    left: 5vw;
    top: 75%;
  }
  .footer__grass.third {
    right: 6vw;
    top: 10%;
  }
  .footer__grass.forth {
    bottom: 13%;
    right: 0;
  }
  .footerBtn__inner {
    width: 100%;
  }
  .footerNav__column2 {
    flex-direction: column-reverse;
    gap: 30px 0;
    margin-top: 30px;
  }
  .footer__snsInner {
    gap: 0 30px;
  }
  .footer__snsIcon {
    height: 20px;
    width: 20px;
  }
  .copyright {
    font-size: var(--fontSize14);
  }
  /* -------------------------
  lower common
  ----------------------------*/
  .lowermain {
    margin-top: 120px;
  }
  .lowermain_inner {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* アニメーションの部分 */
  .lower__charaInner {
    height: 530px;
    margin: -155px auto -150px;
  }
  .lower__chara--img1,
  .lower__chara--surround1,
  .lower__chara--surround2 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .lower__chara--img1 {
    max-width: 140px;
  }
  .lower__chara--surround1 {
    max-width: 232px;
  }
  .lower__chara--surround2 {
    max-width: 290px;
  }
  /* アニメーションの部分 ↑*/
  .lower__textInner {
    margin-top: -8px;
  }
  .lower__textInner .page__text {
    line-height: 2.5;
  }
  .lower__textInner--title {
    color: var(--textBlack);
    font-family: var(--fontZenMaruGothic);
    font-size: var(--fontSize30);
    font-weight: 700;
    letter-spacing: .07em;
  }
  .PinkBg {
    color: #fff;
    font-size: 20px;
    letter-spacing: .07em;
    line-height: 2.4;
  }
  .PinkBg span {
    background-color: var(--palePink);
    padding: 2px 4px;
  }
  .lower__textInner--text {
    font-size: 16px;
    letter-spacing: 0.04rem;
    line-height: 2.4;
    margin-top: 10px;
  }
  /* kirakira */
  .lower__pinkCircle,
  .lower__whiteCircle {
    position: absolute;
  }
  .lower__pinkCircle.first,
  .lower__pinkCircle.fifth,
  .lower__whiteCircle.first,
  .lower__whiteCircle.second {
    height: auto;
    width: 10px;
  }
  .lower__pinkCircle.second,
  .lower__pinkCircle.third,
  .lower__pinkCircle.forth,
  .lower__pinkCircle.sixth,
  .lower__whiteCircle.third {
    height: auto;
    width: 15px;
  } 
  .lower__pinkCircle.first {
    left: 7vw;
    top: 234px;
  }
  .lower__pinkCircle.second {
    bottom: 201px;
    left: 14vw;
  }
  .lower__pinkCircle.third {
    left: 15vw;
    top: 207px;
  }
  .lower__pinkCircle.forth {
    right: 27vw;
    top: 201px;
  }
  .lower__pinkCircle.fifth {
    right: 15vw;
    top: 240px;
  }
  .lower__pinkCircle.sixth {
    bottom: 228px;
    right: 10vw;
  }
  .lower__whiteCircle.first {
    left: 22vw;
    top: 284px;
  }
  .lower__whiteCircle.second {
    bottom: 251px;
    right: 22vw;
  }
  .lower__whiteCircle.third {
    right: 6vw;
    top: 206px;
  }
  .lower__deco {
    position: relative;
    width: 100%;
    min-height: 60px;
  }
  .lower__deco--chara1 {
    max-width: 113px;
    top: 60px;
    left: 29vw;
  }
  .lower__deco--bg1 {
    width: 152px;
    top: 60px;
    left: 29vw;
  }
  .lower__deco--bg2 {
    width: 190px;
    top: 60px;
    left: 29vw;
  }
  .lower__deco--chara2 {
    max-width: 81px;
    top: 132px;
    right: 27vw;
  }
  .lower__deco--bg3 {
    width: 112px;
    top: 132px;
    right: 27vw;
  }
  .lower__deco--bg4 {
    width: 140px;
    top: 132px;
    right: 27vw;
  }
}
@media screen and (max-width:370px) {
  .footer__tel {
    padding: 15px 15px 30px;
  }
  .footer__telNumber {
    font-size: var(--fontSize30);
  }
  .footer__telSpeech.first {
    left: 84px;
  }
  .footer__telSpeech.second {
    right: -25px;
  }
}

@media screen and (max-width: 767px) {
  .footer__detail--address a {
    color: #fff;
  }

  .footer__telNumber a {
    color: var(--palePink);
    /* -webkit-text-stroke: 1px #000; */
  }
}
